
strong {
  color: #DCECB5; }

  #title{
    font-family: Gill Sans, Verdana; 
    font-variant: small-caps;
  }
  #footer{

  }
  blockquote {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    width: 500px;
    margin: 0.25em 0;
    padding: 0.25em 40px;
    line-height: 1.45;
    position: relative;
    color: #EEEEEE;
  }
  blockquote:before {
    content: "\201C";
    font-size: 200px;
    position: absolute;
    left: -20px;
    top: -10px;
    color: #7a7a7a;
  }
  blockquote cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
  }

  blockquote cite:before {
    content: "\2014 \2009";
  }
  /*fix for shaded box nehind images*/
  .reveal section img { background:none; border:none; box-shadow:none; }  
  .reveal section blockquote { background:none; border:none; box-shadow:none; }  
  .reveal section pre code { font-size: 16px; background:none; border:none; box-shadow:none;}

  #demo-link{
    border: 0px;
    padding: 1px 5px;
    margin: 1px 1px;
    border-radius: 1px;
    background: #1785F2;
    cursor: pointer;
    color: #DCDCDC;
    outline: none;

    -webkit-transition: 0.15s background ease;
    -moz-transition: 0.15s background ease;
    -ms-transition: 0.15s background ease;
    -o-transition: 0.15s background ease;
    transition: 0.15s background ease;

  }
  #demo-link:hover {
    background: #32BDEC;

  }

  button {
    border: 0px;
    padding: 8px 10px;
    margin: 5px 0px;
    border-radius: 1px;
     background: #1785F2;
    cursor: pointer;
    color: #DCDCDC;
    font-size: 15px;
    outline: none;

    -webkit-transition: 0.15s background ease;
    -moz-transition: 0.15s background ease;
    -ms-transition: 0.15s background ease;
    -o-transition: 0.15s background ease;
    transition: 0.15s background ease;
  }
  button:hover {
    background: #32BDEC;
  }
  button:active {
    background: #60895a;
  }
  button+button {
    margin-left: 5px;
  }